body, html {
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 15px; /* Tambahkan padding horizontal */
}

/* Header */
.header {
    text-align: center;
    font-size: 36px; /* Kurangi ukuran font */
    font-weight: bold;
    opacity: 0;
}

/* Paragraph */
.paragraph {
    text-align: center;
    font-size: 16px; /* Kurangi ukuran font */
    margin-bottom: 30px; /* Kurangi margin bottom */
    opacity: 0;
}

/* Recommendations */
.recommendations {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
    opacity: 0;
    max-width: 300px; /* Atur lebar maksimum */
}

.recommendations li::before {
    content: '\2022'; /* Bullet character */
    color: #ff9800; /* Custom bullet color */
    font-size: 20px;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.typed-cursor {
    display: none;
    opacity: 1;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Fade in animation */
.fade-in {
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Footer */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: left;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Tambahkan flex-wrap untuk responsifitas */
}

.footer .ml-5 {
    flex: 1; /* Agar text bisa wrap pada layar kecil */
    margin-bottom: 10px; /* Tambahkan margin bottom */
}

.footer-icons {
    flex: 1; /* Agar ikon-ikon bisa wrap pada layar kecil */
    text-align: right; /* Atur posisi ikon ke kanan */
}

.footer-icons a {
    color: #fff;
    margin-right: 10px;
    font-size: 20px;
}
